.creche-list-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background-color: #f0f8ff; /* Light blue background */
  }
  
  .header-container {
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  .header-image {
    max-width: 200px;
    height: auto;
  }
  
  .creche-list-content {
    flex-grow: 1;
    padding: 2rem;
  }
  
  .user-info {
    font-size: 1.2em;
  }
  
  .export-button {
    margin-left: 20px;
  }
  
  .custom-button-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  h2, h3 {
    color: #007bff; /* Blue color for the titles */
  }
  
  .b-form-input, .b-button {
    margin-bottom: 1rem;
  }
  
  .b-button {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .b-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .b-list-group-item {
    background-color: white;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .action-button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .id-badge {
    margin-left: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .button-group {
      flex-direction: column;
      align-items: stretch;
    }
  
    .action-button {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0.5rem;
      width: 100%;
    }
  
    .id-badge {
      margin-left: 0;
      margin-top: 0.5rem;
      align-self: flex-end;
    }
  }